@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: Retro Gaming, sans-serif;
    background-color: #0f172a;
    overflow-x: hidden;
}

:root {
    --color-primary: #f3f4f6;
}
